/// app.styl

$deskblue=#118df0
$deskhigh=#147dd1

body
	overflow hidden
body
html
section
	height 100%
	margin 0
	padding 0
fieldset
	border none
	background-color $deskhigh
	span
		float right
header
	#map &
		//position absolute
		//top 0
		width 100vw
		//height 3em
		padding 0.5rem
		z-index 2
		background-color $deskblue
		input
			border-radius 1em
			padding 0 1em
			outline none
label
	display block
	text-align center
	padding 1em
section
	display flex
	flex-direction column
	align-content stretch
	position relative
[type="button"]
	background-color lightgray
	&.selected
		color $deskblue
[type="range"]
	width 100%
#drawer
	position absolute
	//top 60%
	background-color $deskblue
	padding 2rem 1em
	height 25rem
	width 100%
	box-sizing border-box
#drawer-handle
	position absolute
	left 50%
	margin-left -1.5rem
	top -0.5em
	padding 0.25em
	font-size 2rem
	border-radius 2rem
	background-color $deskblue
	color white
	z-index 2
#gmap
	//height 100%
	flex-grow 1
#map
	padding-bottom 23rem
#splash
	background url(/i/hero-background.jpg)
